<ion-header>
  <ion-toolbar color="mi_color">
    <ion-title>
      <ion-icon name="eye-off-outline"></ion-icon>
      404 Error
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <figure class= "ion-text-center ion-padding">
    <img src="assets/imagenes/undraw_Page_not_found_re_e9o6.png" alt="logo de skel_music"/>
  </figure>
  <ion-button routerLink="/intro" expand="block"
  class="ion-margin-top naranja">
  <ion-icon name="home" slot="start"></ion-icon>
  volver a intro
</ion-button>
<div >
</div>
</ion-content>
