<ion-header>
  <ion-toolbar color = "mi_color">
    <ion-buttons>
      <ion-button (click)="gobackLogin()">
        ☣regresar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 <ion-content [fullscreen]="true">
 <figure class= "ion-text-center ion-padding">
   <img src="assets/imagenes/logo_skel_music.jpg" alt="logo de skel_music"/>
 </figure>
 <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
   <ion-item>
     <ion-label>Email:</ion-label>
     <ion-input formControlName="email">
     </ion-input>
   </ion-item>
   <div class="validation-error">
     <ng-container *ngFor="let validation of validation_messages.email">
        {{ validation.message }}
      </ng-container>
   </div>
    <ion-item>
     <ion-label>contraseña:</ion-label>
     <ion-input type="password" formControlName="password">
     </ion-input>
  </ion-item>
  <div class="validation-error">
    <ng-container *ngFor="let validation of validation_messages.password">
       {{ validation.message }}
     </ng-container>
  </div>
  {{ errorMessage }}
  <ion-button custom button
  expand="full"
  shape="round"
  color="success"
  type="submit" [disabled]="loginForm.invalid">login</ion-button>
    </form>
  </ion-content>
  <ion-footer class = "ion-text-center">
    <ion-button custom button  (click)="goToRegister()" shape="round" fill="outline" color="success">😎REGISTRATE AQUI🌍</ion-button>
  </ion-footer>



