<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color = "mi_color">
      <ion-title>Menu♪</ion-title>
      <ion-buttons slot="start">
      <ion-button (click)="closeMenu()">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="home-outline" (click)="gohomeapp()"></ion-icon>
        <label>Home</label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bicycle-outline"></ion-icon>
        <label>Sports</label>
      </ion-item>
      <ion-item (click)="gotoSettings()">
        <ion-icon  slot="start" name="settings-outline"></ion-icon>
        <label>configuracion</label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon slot="start" name="log-out" color="primary"></ion-icon>
        <label>Salir</label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color = "mi_color">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu♪</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.
  </ion-content>
</div>


