<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-slides pager="true" [options]="slideOpt">
    <ion-slide>
      <ion-icon name="close-circle-outline" (click)="finish()"></ion-icon>
      <img src="assets/imagenes/logo_skel_music.jpg" alt="logo de skel_music"/>
      <h1>disfrute la musica cuando quieras</h1>
      <h2>y en donde quieras que sea🔛</h2>
      <p>
        podras escuchar los mejores artistas,albumes,
        y las mejores canciones a todas horas. 
      </p>
      <ion-icon name="play-outline"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close-circle-outline"></ion-icon>
      <img src="assets/imagenes/logo_skel_music.jpg" alt="logo de skel_music"/>
      <h1>reproduce todo tipo de musica</h1>
      <h2>es un reproductor dinamico✅</h2>
      <p>
        skel_music es la app que estabas esperando con una interfaz limpia
        y amigable enfocada para todo,tipo de publico. 
      </p> 
      <ion-icon name="musical-notes-outline"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close-circle-outline"></ion-icon>
      <img src="assets/imagenes/logo_skel_music.jpg" alt="logo de skel_music"/>
      <h1>la app de reproduccion de musica mas facil y sencilla de usar</h1>
      <h2>es un reproductor genial✅</h2>
      <p>
        skel_music se crea pensando en brindarles a los usuarios de este producto 
        una app que permita la reproduccion de todo tipo de musica. 
      </p> 
      <ion-icon name="musical-note-outline"></ion-icon>
    </ion-slide>
  </ion-slides>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<!-- 
  comentarios usamos el componente ion-slide y sus hijos 3 hijos ion slides 
  usamos el componente ion-slide basado en la libreria Swiper.js de javascript  
 notas : on-slides y ion-slide estan siendo removidos de Ionic, ver mas información en el siguiente enlace.
Los Slides ahora usaran una nueva librería llamada Swiper.js, en el siguiente enlace explican como se debe usar he instalar.



-->