<ion-header>
  <ion-toolbar color="mi_color">
    <ion-buttons>
      <ion-button (click)="goToLogin()">
        ☣regresar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <figure class= "ion-text-center ion-padding">
    <img src="assets/imagenes/logo_skel_music.jpg" alt="logo de skel_music"/>
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input formControlName="nombre">
      </ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.Nombre">
         {{ validation.message }}
       </ng-container>
    </div>
    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-input formControlName="apellido">
      </ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.Nombre">
         {{ validation.message }}
       </ng-container>
    </div>
    <ion-item>
      <ion-label>email:</ion-label>
      <ion-input formControlName="email">
      </ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.Nombre">
         {{ validation.message }}
       </ng-container>
    </div>
     <ion-item>
      <ion-label>contraseña:</ion-label>
      <ion-input type="password" formControlName="password">
      </ion-input>
   </ion-item>
   <div class="validation-error">
     <ng-container *ngFor="let validation of validation_messages.password">
        {{ validation.message }}
      </ng-container>
   </div>
   {{ errorMessage }}
   <ion-button Custom Button
   expand="full"
   shape="round"
   color="success"
   type="submit" [disabled]="registerForm.invalid">registrar</ion-button>
     </form>
   </ion-content>

